<!--<div id="goldWidgetContainer"></div>-->

<!--<script type="text/javascript">-->
//  var goldOptions = {
//    bullion: 'gold',
//    size: '250x250',
//    weightUnit: 'TOZ'
//  };
//  var goldPriceWidget = new BullionVaultPriceWidget('goldWidgetContainer', goldOptions);
<!--</script>-->

<%= @date %>
$<%= @gold_am %>
$<%= @gold_pm %>
$<%= @silver_price %>
S&P Index open: <%= @sp_index_open %>
S&P Index close: <%= @sp_index_close %>

<div class="alert-form-container">
  <%= form_for(@alert, :html => { :class => 'form' }) do |f| %>
      <h6>Gold/Silver/S&P Index price alert</h6>
      <fieldset class="form-group">
        <%= f.select(:item, [['Gold', 'gold'], ['Silver', 'silver'], ['S&P Index', 'sp_index']], {}, { class: 'form-control'}) %>
      </fieldset>
      <fieldset class="form-group">
        <%= f.radio_button :above_or_below, true %> Above
        <%= f.radio_button :above_or_below, false %> Below
      </fieldset>
      <fieldset class="form-group">
        <%= f.label :target_value %>
        <%= f.text_field :target_value, class: 'form-control' %>
      </fieldset>
      <fieldset class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      </fieldset>
      <%= f.submit 'Create Alert', class: 'btn btn-primary' %>
  <% end %>
  <%= flash[:notice] %>
</div>
